<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="parent">
        <div class="child" >
            <h1> New's page ID - <%= newsId %> </h1>
            <p><b>Title:<%=obj.title%></b></p>
            <p><b>Id:<%=obj.id%></b></p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur 
                ipsum recusandae obcaecati. Beatae dignissimos, similique minus soluta
                aspernatur voluptatibus iure quae odio? Enim perferendis cum repellat
                nostrum voluptatibus, ipsum doloremque!</p>

            <ul>
                <% obj.paragraphs.forEach(function(item) { %>
                    <li><%=item%></li>
                <% }); %>
            </ul>
            <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" width="300">

        </div>
    </div>
</body>
</html>